*{margin:0px;padding:2.5px;border:0px;font-family:"Times New Roman",Georgia,Serif;font-size:10px;}
#Div01 #Span01 a.Bold{font-weight:bold;}#Div01 #Span01 a.Normal{font-weight:normal;}
#Div02{background-color:black;color:orange;width:250px;}